.logomain { 
  grid-area: 8 / 7 / 12 / 11;
  padding: var(--main-padding); 
}
.logoImg{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.logotextmain { 
  grid-area: 12 / 7 / 13 / 11;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-brand);
}
.email { 
  grid-area: 6 / 18 / 7 / 25; 
  padding: var(--main-padding);
}
.pass { 
  grid-area: 8 / 18 / 9 / 25; 
  padding: var(--main-padding);
}
.signin { 
  grid-area: 10 / 22 / 11 / 25; 
}
.passForget { 
  grid-area: 10 / 18 / 11 / 22; 
  padding: var(--main-padding);
}
.google { 
  grid-area: 12 / 18 / 13 / 25; 
}
.signUp { 
  grid-area: 14 / 18 / 15 / 25; 
}
@media only screen and (max-width: 1024px){
  .logotextmain{
    font-size: 20px;
    font-weight: 600;
  }
  .logoImg{
    width: 100%;
  }
  .logomain{
    grid-area: 3 / 6 / 5 / 8 !important;
  }
  .logotextmain{
    grid-area: 5 / 5 / 6 / 9 !important;
  }
  .email{
    grid-area: 7 / 3 / 8 / 11 !important;
  }
  .pass{
    grid-area: 9 / 3 / 10 / 11 !important;
  }
  .signin{
    grid-area: 11 / 8 / 12 / 11 !important;
  }
  .passForget{
    grid-area: 11 / 3 / 12 / 7 !important;
  }
  .google{
    grid-area: 13 / 3 / 14 / 11 !important;
  }
  .signUp{
    grid-area: 14 / 3 / 16 / 11 !important;
  }
}