.logomain { 
  grid-area: 8 / 7 / 12 / 11;
  content: url("../images/inclunav.png"); 
  width: 100%;
}
.logotextmain { 
  grid-area: 12 / 7 / 13 / 11;
  font-size: 2.5vmin;
  font-weight: 500;
  color: var(--font-brand);
}
.warn { 
  grid-area: 4 / 17 / 5 / 26; 
  color: var( --font-warning);
  padding: var(--main-padding);
}
.firstname { 
  grid-area: 6 / 17 / 7 / 21;
  padding: var(--main-padding);
}
.lastname { 
  grid-area: 6 / 22 / 7 / 26;
  padding: var(--main-padding); 
}
.email { 
  grid-area: 8 / 17 / 9 / 21; 
  padding: var(--main-padding);
}
.org { 
  grid-area: 8 / 22 / 9 / 26;
  padding: var(--main-padding);
}
.signin { grid-area: 14 / 17 / 15 / 21; }
.signup { grid-area: 14 / 22 / 15 / 26; }

.pass { 
  grid-area: 10 / 17 / 11 / 21; 
  padding: var(--main-padding);
}
.pass2 { 
  grid-area: 10 / 22 / 11 / 26; 
  padding: var(--main-padding);
}
.signUpMsg { 
  grid-area: 11 / 17 / 14 / 26; 
  padding: var(--main-padding);
}
