.logomain { 
  grid-area: 8 / 7 / 12 / 11;
  padding: var(--main-padding);
}
.logoImg{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.logotextmain { 
  grid-area: 12 / 7 / 13 / 11;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-brand);
}
.successMsg { 
  grid-area: 7 / 18 / 12 / 25;
  padding: var(--main-padding); 
  font-size: 16px;
}
.signinBack { 
  grid-area: 12 / 19 / 13 / 24;
}
#signBack{
  width: 80%;height: 100%;
}
@media only screen and (max-width: 1024px){
  .logotextmain{
    font-size: 20px;
    font-weight: 600;
  }
  .logoImg{
    width: 100%;
  }
  .logomain{
    grid-area: 3 / 6 / 5 / 8 !important;
  }
  .logotextmain{
    grid-area: 5 / 5 / 6 / 9 !important;
  }
  .successMsg{
    grid-area: 7 / 4 / 12 / 10;
  }
  .signinBack{
    grid-area: 13 / 5 / 14 / 9;
  }
}