:root{
  --font-dark:#0D0D0D;
  --font-light:#F2F2F2;
  --font-brand:#03387e;
  --font-warning:#FF1111;
  --color-offGray:#EFEFEF;
  --color-map:#FFBBBB;
  --main-radius:5px;
  --main-padding:10px;
}
* { box-sizing: border-box;}
body { 
  font-family:'Noto sans', Tahoma, sans-serif;
  font-size: 2vmin; 
  font-weight: 400;
  color: var(--font-dark);
  padding: 0; 
  margin: 0;
  overflow: hidden;
}
p{
  text-align: justify;
}
.btn{
  cursor: pointer;
}
.noDisplay{
  display: none;
}
.all-center{
  display: grid;
  place-items: center;
}
.content-Grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div3 { grid-area: 6 / 17 / 15 / 26; }
.header { 
  grid-area: 1 / 1 / 2 / 31; 
}
.incluhead { 
  grid-area: 1 / 2 / 2 / 4; 
}
.brdr{
  border: 1px solid black;
}

