:root{
  --default:#6c757d;
  --default-dark:#283241;
  --font-dark:#0D0D0D;
  --font-light:#FFFFFF;
  --font-brand:#266dad;
  --font-warning:#FF1111;
  --color-offGray:#EFEFEF;
  --color-map:#FFBBBB;
  --main-radius:5px;
  --main-padding:10px;
  /* theme--------- */
  --background:#EFEEEE;
  --hover:rgba(255, 255, 255, .2);
  --Active:rgba(240, 240,240, 0.6);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --shadow-light:rgba(255, 255, 255, 0.6);
}
* { box-sizing: border-box;}
body { 
  font-family:'Noto sans', Tahoma, sans-serif;
  font-size: 14px; 
  font-weight: 400;
  color: var(--font-dark);
  padding: 0; 
  margin: 0;
  overflow: auto;
  background-color: var(--background);
  color: var(--default);
}
input,textarea,button,select,a,div,img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
p{
  text-align: justify;
}
.centerPara{
  text-align: center;
}
.conetnt-main{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
}
.content-Grid {
  position: absolute;
  top: 0;
  height: 57vw;
  width: 100%;
  min-height: 650px;
  min-width: 1160px;
  /* min-width: 1279px; */
  display: grid;  
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.btn{
  cursor: pointer;
  background-color: var(--background);
  box-shadow: 3px 3px 3px var(--shadow-dark), -5px -5px 5px var(--shadow-light);
  border-radius: var(--main-radius);
}
.btn:hover{
  background-color: var(--hover);
}
.btn:active{
  background-color: var(--Active);
  box-shadow:3px 3px 3px var(--shadow-dark) inset,
    -3px -3px 3px var(--shadow-light) inset;  
  color: var(--font-brand); 
}
.txt{
  box-shadow: 2px 2px 2px var(--shadow-dark) inset, -2px -2px 2px var(--shadow-light) inset;
  background-color: var(--font-light);
  border-radius: var(--main-radius);
  display: flex;
  align-items: center;
}
.noDisplay{
  display: none!important;
}
.all-center{
  display: grid;
  place-items: center;
}
.text-center{
  text-align: center;
}
.header { 
  grid-area: 1 / 1 / 2 / 31;
  box-shadow: 0 3px 3px var(--shadow-dark), 0 -5px 5px var(--shadow-light);
}
.incluhead { 
  grid-area: 1 / 2 / 2 / 15; 
  display: flex;
  text-align: left;
  align-items: center;
}
.incluheadlogo{
  position: absolute;
  left: 64px;
  height: 25px;
  top: 7.5px;
}
.profile { 
  grid-area: 1 / 27 / 2 / 31; 
  cursor: pointer;
  z-index: 1;
}
.profile:hover{
  background-color: var(--hover);
}
.help { 
  grid-area: 1 / 24 / 2 / 26; 
  cursor: pointer;
  z-index: 1;
}
.help:hover{
  background-color: var(--hover);
}
.profileCard { 
  grid-area: 2 / 27 / 4 / 31; 
  background-color: var(--font-light);
  z-index: 1;
  box-shadow: 0 3px 3px var(--shadow-dark), -5px 0 5px var(--shadow-dark);
  border-radius: 0 0 5px 5px;
}
.helpCard { 
  grid-area: 2 / 22 / 6 / 26; 
  background-color: var(--font-light);
  z-index: 1;
  background-color: var(--font-light);
  z-index: 1;
  box-shadow: 2px 3px 3px var(--shadow-dark), -2px 0 5px var(--shadow-dark);
  border-radius: 0 0 5px 5px;
}
.helpcardDiv{
  width: 100%;
  padding: 12px;
  cursor: pointer;
  text-align: center;
}
.helpcardDiv:hover{
  background-color: var(--color-offGray);
}
.addNew { 
  grid-area: 3 / 2 / 6 / 5; 
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
.card{
  background-color: var(--font-light);
  border-radius: 10px;
}
.cardBtn { 
  position: relative;
  top: 63%;
  float: left;
  height: 16%;
  width: 32%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 2px;
}
.cardRow{
  position: relative;
  width: 100%;
  height: 20%;
  top: 31%;
}
.cardRowLeft
{
  position: relative;
  float: left;
  width: 60%;
  height: 100%;
  display: grid;
  place-content: center;
}
.cardRowRight
{
  position: relative;
  float: right;
  margin-right: 10%;
  width: 20%;
  height: 100%;
}
.brdr{
  border: 1px solid black;
}
.req{
  /* color: var(--font-warning); */
  padding-left: 5px;
}
.modalDiv{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--default-dark);
  opacity: 0.7;
}
.modalMsg { 
  z-index: 2;
  grid-area: 5 / 10 / 15 / 22; 
  background-color: var(--background);
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.modalMsgDiv { 
  grid-area: 6 / 12 / 12 / 20; 
  z-index: 2;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}
.modalBtn { 
  position: relative;
  float: left;
  top: 80%;
  height: 10%;
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
  display: grid;
  place-items: center;
}
.warning{ font-size: 22px;}
/* ------------------ */
#userProfileMain { 
  grid-area: 3 / 9 / 17 / 23; 
  background-color: var(--background);
  border-radius: 10px;
  z-index: 2;
}
#profileHead { 
  grid-area: 3 / 11 / 5 / 21; 
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 22px;
  z-index: 2;
}
#profileWarn { 
  grid-area: 5 / 11 / 6 / 21; 
  color: var(--font-warning);
  display: grid;
  place-content: center;
  z-index: 2;
}
#profileFirst { 
  grid-area: 7 / 11 / 8 / 15; 
  z-index: 2;
}
#profileLast { 
  grid-area: 7 / 17 / 8 / 21; 
  z-index: 2;
}
#profileMail { 
  grid-area: 9 / 11 / 10 / 15; 
  z-index: 2;
 }
#profileOrg { 
  grid-area: 9 / 17 / 10 / 21; 
  z-index: 2;
 }
#profilePass { 
  grid-area: 11 / 11 / 12 / 15; 
  z-index: 2; 
}
#profilePass2 { 
  grid-area: 11 / 17 / 12 / 21; 
  z-index: 2; 
}
#profileMsgDiv { 
  grid-area: 12 / 11 / 15 / 21; 
  z-index: 2; 
  padding: 20px;
}
#profileSave { 
  grid-area: 15 / 11 / 16 / 15; 
  z-index: 2; 
  display: grid;
  place-content: center;
}
#profileCancel { 
  grid-area: 15 / 17 / 16 / 21; 
  z-index: 2;  
  display: grid;
  place-content: center;
}

#nameOneHead { 
  grid-area: 6 / 11 / 7 / 15; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}
#nameLastHead { 
  grid-area: 6 / 17 / 7 / 21; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}
#mailProf { 
  grid-area: 8 / 11 / 9 / 15; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}
#orgProf { 
  grid-area: 8 / 17 / 9 / 21; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}
#passOneProf { 
  grid-area: 10 / 11 / 11 / 15; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}
#passTwoProf { 
  grid-area: 10 / 17 / 11 / 21; 
  z-index: 2;
  margin-left: 20px;
  padding-top: 20px;
}

#req20 { grid-area: 7 / 15 / 8 / 16; z-index: 2; }
#req21 { grid-area: 9 / 15 / 10 / 16; z-index: 2;}
#req22 { grid-area: 11 / 15 / 12 / 16; z-index: 2;}
#req23 { grid-area: 11 / 21 / 12 / 22; z-index: 2;}

