.logomain { 
  grid-area: 8 / 7 / 12 / 11;
  padding: var(--main-padding);
}
.logoImg{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.logotextmain { 
  grid-area: 12 / 7 / 13 / 11;
  font-size: 20px;
  font-weight: 600;
  color: var(--font-brand);
}
.venueHead { grid-area: 1 / 4 / 2 / 6; }
.headerMid { 
  grid-area: 1 / 13 / 2 / 15; 
}
.map { 
  grid-area: 5 / 6 / 15 / 19; 
  background-color: #eb9898c2;
}

.rotate { grid-area: 3 / 6 / 4 / 9; }
.crop { grid-area: 3 / 11 / 4 / 14; }
.undo { grid-area: 3 / 16 / 4 / 19; }
.widthRow{ grid-area: 16 / 6 / 17 / 19;}
.width { grid-area: 16 / 11 / 17 / 14; }
.bArrowLeft { 
  grid-area: 16 / 6 / 17 / 11;
  background-image: url("../../images/arrowL.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 15%;
  opacity: 0.4;
}
.bArrowRight { 
  grid-area: 16 / 14 / 17 / 19;   
  background-image: url("../../images/arrowR.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 15%;
  opacity: 0.4;
}
.height { grid-area: 9 / 2 / 10 / 5; }
.lArrowTop { 
  grid-area: 5 / 3 / 9 / 4;
  background-image: url("../../images/arrowT.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15% 80%;
  opacity: 0.4;
 }
.lArrowBottom { 
  grid-area: 10 / 3 / 15 / 4; 
  background-image: url("../../images/arrowB.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15% 80%;
  opacity: 0.4;
}
.floorBrowse { 
  grid-area: 5 / 22 / 6 / 25; 
  padding: 10px;
}
.rotateLeft{transform: rotate(-90deg);}

.floorUpload { 
  grid-area: 5 / 26 / 6 / 29; 
  padding: 10px;
}
.newElementAdd { 
  grid-area: 7 / 22 / 8 / 29;
  padding: 10px;
 }
.newElementType { 
  grid-area: 9 / 22 / 10 / 29;
  padding: 10px; 
}
.newElelementOrg { 
  grid-area: 11 / 22 / 12 / 29;
  padding: 10px; 
}
.newElReq1 { grid-area: 5 / 29 / 6 / 30; }
.newElReq2 { grid-area: 7 / 29 / 8 / 30; }
.newElReq3 { grid-area: 9 / 29 / 10 / 30; }
.newElMsg { 
  grid-area: 12 / 22 / 13 / 29; 
  padding: 10px;
}
.newElementSave { grid-area: 14 / 22 / 15 / 25; }
.newElementCancel { grid-area: 14 / 26 / 15 / 29; }

.newElNameHead { 
  grid-area: 4 / 22 / 5 / 29; 
  margin-left: 20px;
  padding-top: 20px;
}
.newElAddHead { 
  grid-area: 6 / 22 / 7 / 29;
  margin-left: 20px;
  padding-top: 20px;
 }
.newElTypeHead { 
  grid-area: 8 / 22 / 9 / 29;
  margin-left: 20px;
  padding-top: 20px; 
}
.newElOrgHead { 
  grid-area: 10 / 22 / 11 / 29;
  margin-left: 20px;
  padding-top: 20px; 
}